---
name: run pre-commit

on:
    push:
        branches:
        -   main
    pull_request:
        branches:
        -   '*'

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    run_pre_commit:
        name: run flake8
        runs-on: ubuntu-latest

        defaults:
            run:
                shell: bash

        steps:
        -   name: Checkout
            uses: actions/checkout@v4

        -   name: Setup python
            uses: actions/setup-python@v5
            with:
                python-version: '3.12'
                allow-prereleases: false

        -   name: Install tox
            run: python -m pip install tox

        -   name: Run pre-commit via tox
            run: tox
